body {
    background-color: #faf3eb;
}

h1 {
    font-size: 40px;
}

#title {
    margin-bottom: -40px;
    text-align: center;

    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.black-box {
    margin: auto;
    height: 125px;
    max-width: 100%;

    border-radius: 10px;
    background-color: #853e3c;
    color: white;
}

.center-height {
    border: solid transparent;
}



#all-items {
    margin: auto;
    max-width: 90%;
    min-height: 300px;
    margin-top: -10px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    border: 5px solid #853e3c;
}

#question {
    margin-top: 30px;

    font-family: "Sigmar", serif;
    color: #853e3c;
}

#button {
    margin-top: -10px;

    font-family: "Sigmar", serif;
    color: grey;
}

#randomCat {
    display: none;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;

    max-width: 300px;
    border: solid white;
    border-width: 20px;
    border-bottom-width: 60px;
    box-shadow: 5px 5px lightgray;
}