:root {
    --font-fam-title: "Sigmar", serif;
    --font-weight-title: 400;
    --font-fam-heading: "Erica One", serif;
    --font-weight-heading: 100;
    --font-fam-desc: "Kirang Haerang", serif;

    --bg-col: white;
    --main-col: #853e3c;
    --main-col2: #faf3eb;
    --accent-col: #edac66;
    --title-col: white;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-col);
}

h1 {
    font-family: var(--font-fam-title);
    font-weight: var(--font-weight-title);
    font-style: normal;
    font-size: 40px;
}

p {
    font-family: var(--font-fam-title);
    font-style: normal;
    font-size: 16px;
    color: var(--main-col);
}



.edge {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    border: 5px solid var(--bg-col);
}

.black-box {
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 125px;
    width: 98vw;
    border-radius: 10px;
    background-color: var(--main-col);

    color: var(--title-col);
    text-align: center;
}

#header-box {
    top: 5px;
}

#footer-box {
    bottom: 9px;
}



#title {
    line-height: 45px;
}

#subtitle {
    line-height: 0px;
    font-size: 16px;
}



#main-box {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 155px 30px;

    max-width: 90vw;
    min-height: 100vh;
    border: 5px solid var(--main-col);
    background-color: var(--main-col2);

}

#button {
    margin-top: 10px;

    border-radius: 10px;
    border-width: 3px;
    border-color: var(--main-col);
    background-color: var(--accent-col);

    font-family: var(--font-fam-title);
    color: var(--main-col);
    z-index: 1;
}

#button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.25s;
}

#randomCat {
    display: none;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;

    max-width: 300px;
    border: solid var(--bg-col);
    border-width: 20px;
    border-bottom-width: 60px;
    box-shadow: 5px 5px var(--accent-col);
}



@media screen and (max-width: 400px) {
    .black-box {
        border-radius: 0;
        max-width: 400px;
    }

    #main-box {
        margin: 5px;
        max-width: 400px;
    }



    #randomCat {
        max-width: 75%;
        border-width: 5vw;
        border-bottom-width: 15vw;
    }
}